<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask-finish</title>
</head>
<body>
<h1>Welcome</h1>

<div class="reg">
      <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Войти</a>
      <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">Выйти</a>
      <a class="btn btn-outline-danger" href="{{ url_for('register') }}">Регистрация</a>

</div>

<hr>
{% block content %} {% endblock %}
</body>
</html>